body{
  background-color:#EAF6F6;
  text-align: left;
}

hr{
  background-color: #EAF6F6;
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h3{
  color:green;
}
div{
  text-align: center;
}
/***************************CLASS SELECTOR**********************/
.sonu{
  border-radius: 100%;
}
